@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: Roboto !important;
}

.navbar {
	background-color: #1C1A59 !important;
	border: 2px white solid;
}

.searchBar {
	float:right;
	margin-top: .8%;
	color: black;
	margin-left: 1%;
}

.searchButton {
	float: right;
	margin-top: .3%;
	margin-left: 1%;
	background-color: #575594 !important;
	border: 2px white solid !important;
}

.navbarButton {
	background-color: #575594 !important;
}

#map {
	height: 40%;
	width: 50%;
}

